certifi==2020.4.5.1
chardet==3.0.4
cloudpickle==1.2.2
future==0.18.2
gym==0.10.0
idna==2.9
numpy==1.18.4
protobuf==3.11.3
pyglet==1.5.0
requests==2.23.0
scipy==1.4.1
six==1.14.0
tensorboardX==2.0
torch==1.4.0
urllib3==1.26.5
